My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a smart food ordering assistant for \"Hungry  Restaurant\".\n\nRules:\n\nWhen a user sends their first message (like hi, hello), reply with:\n\"Welcome to Hungry Restaurant 🍽️\nHow can I help you today?\n\n🛒 Place an order\n\nℹ️ FAQ / Information\n\n📦 Check order / stock\"\n\n(👉 Keep the tone friendly like a food delivery app, not like a product e-commerce site)\n\nIf user wants order:\n\nAsk step by step: name, food item, quantity\n\nCheck Inventory sheet before confirming\n\nIf available → \"Your order for [item] (x quantity) is confirmed ✅\"\n\nIf not available → \"Sorry, [item] is out of stock ❌. Available options: [list items]\"\n\nOnly confirmed orders go into Orders sheet\n\nIn Orders sheet always include:\nStatus – Confirmed / Rejected\nDescription – \"Order accepted (item available)\" OR \"Order rejected (out of stock)\"\n\nIf user wants FAQ:\n\nAnswer short and clear (delivery time, payment method, restaurant hours)\n\nIf user wants check order or check stock:\n\nAsk for food name or order id\n\nLook up in Google Sheets (Orders / Inventory)\n\nIf checking order → reply with status (Confirmed / Rejected / Cancelled / Delivered)\n\nIf checking stock → reply with available quantity of that food\n\nAlso list all \"available\" food items with quantity if requested\n\nIf user wants cancel order:\n\nReply politely\n\"Sorry 🙏 I cannot cancel orders directly.\nPlease call the restaurant owner first and inform them.\nOwner Contact: +95 1224567890\"\n\nAlways reply in short text like a normal WhatsApp chat\n\nDo not use bold or long paragraphs\n\nUse stars only for highlighting words\n\nKeep tone friendly, polite, and food-delivery app style"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "15ed5d26-ad95-4579-9a1f-ee1a90e79d50",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "429e0ddb-6380-44c9-a4e0-5aca28222b1c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9W91MxHCEKvLiPtY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "fc35f820-c0de-4cba-9767-864ce8e6ddef",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16ZOlqRdkgEhz3IfkW9_QOCT9y6D1yr4OpFvj2nqyaV0",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16ZOlqRdkgEhz3IfkW9_QOCT9y6D1yr4OpFvj2nqyaV0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1398389796,
          "mode": "list",
          "cachedResultName": "Inventory ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16ZOlqRdkgEhz3IfkW9_QOCT9y6D1yr4OpFvj2nqyaV0/edit#gid=1398389796"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        208
      ],
      "id": "6849310f-f49e-4a01-8efa-cdc2405c52e1",
      "name": "Get Inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xdE2ww1aOA5bSfxs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16ZOlqRdkgEhz3IfkW9_QOCT9y6D1yr4OpFvj2nqyaV0",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16ZOlqRdkgEhz3IfkW9_QOCT9y6D1yr4OpFvj2nqyaV0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1265311503,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16ZOlqRdkgEhz3IfkW9_QOCT9y6D1yr4OpFvj2nqyaV0/edit#gid=1265311503"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        464,
        176
      ],
      "id": "5e510236-b7a2-44b1-8353-e1abe799b74a",
      "name": "Get FAQ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xdE2ww1aOA5bSfxs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16ZOlqRdkgEhz3IfkW9_QOCT9y6D1yr4OpFvj2nqyaV0",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16ZOlqRdkgEhz3IfkW9_QOCT9y6D1yr4OpFvj2nqyaV0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 434168308,
          "mode": "list",
          "cachedResultName": "Orders ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16ZOlqRdkgEhz3IfkW9_QOCT9y6D1yr4OpFvj2nqyaV0/edit#gid=434168308"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name_', ``, 'string') }}",
            "Food Item ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Food_Item_', ``, 'string') }}",
            "Quantity Ordered": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity_Ordered', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Order Date": "={{ $now.format('yyyy-MM-dd hh-mm-ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name ",
              "displayName": "Customer Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Food Item ",
              "displayName": "Food Item ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity Ordered",
              "displayName": "Quantity Ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        464,
        304
      ],
      "id": "6b374856-4f2f-4f7d-bfe5-51e586de2ea8",
      "name": "Post Orders",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xdE2ww1aOA5bSfxs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        0
      ],
      "id": "2f540bb1-d222-4059-bea4-afedaf06854c",
      "name": "WhatsApp Trigger",
      "webhookId": "9b4b30a9-bf40-4483-881a-0bfb14e498cf",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "gJudCdmM3SnHNqy8",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "982626578269678",
        "recipientPhoneNumber": "+91 8395906795",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        560,
        0
      ],
      "id": "b40f57b3-e069-44f5-8e8e-25a9e73f604e",
      "name": "Send message",
      "webhookId": "24e294c9-f148-45e6-a8a8-f9caf8c644da",
      "credentials": {
        "whatsAppApi": {
          "id": "kT1sUJ4thtouqrQB",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get FAQ": {
      "ai_tool": [
        []
      ]
    },
    "Post Orders": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ede0a923-68ae-4f58-aea9-0288f70937ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "820dfb5ecc78f18af2524894e64156a9da6b9b28be91d3fe93299e0fb97cae2b"
  },
  "id": "cEEK3tcHO363Hrgg",
  "tags": []
}